<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/js/pwa.webmanifest">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.2/marked.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/headers.css">
    <title><%= title %> </title>
    
    <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script>
        moment()
      </script>
</head>
<body class="dark:bg-gray-900">
  <nav class="bg-white border-gray-400 px-2 sm:px-4 py-2.5 dark:bg-gray-800">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="/articles" class="flex">
      <img src="/images/logo.png" style="width: 3rem; margin-right: .5rem;" alt="">
        <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">Stride Connect</span>
    </a>
    <% if (user) { %>
    <div class="flex items-center md:order-2">
        <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" type="button" data-dropdown-toggle="dropdown">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="<%= user.image %> " alt="">
        </button>
        <!-- Dropdown menu -->
        <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown">
          <div class="py-3 px-4">
            <span class="block text-sm text-gray-900 dark:text-white"><%= user.displayName %> </span>
            <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400"><%= user.email %>  </span>
          </div>
          <ul class="py-1" aria-labelledby="dropdown">
          <li>
            <a href="/users/<%= user._id %>" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="/articles/new" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Create</a>
          </li> 
          <li>
            <a href="/auth/logout" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
          </li>
          </ul>
        </div>
    </div>
    <%} else { %>
    <button type="button" class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-800"><a href="/">Login</a></button>
    <% } %>
    
    <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

</div>
    
  
<!-- Cards -->
<div class="cards" style="margin: .6rem .6rem 4rem .6rem;">
  <% if (sortedTimelineArticles.length >= 1) { %>
  <% sortedTimelineArticles.forEach(function(timelineArticle){ %>
          <a href="/articles/<%= timelineArticle.slug %> " style="margin-bottom: .5rem;" class="flex flex-col bg-white rounded-lg border shadow-md md:flex-row md:max-w-sm hover:bg-gray-100 dark:border-gray-500 dark:bg-gray-800 dark:hover:bg-gray-700">
          <!-- <img class="object-cover w-full h-96 rounded-t-lg md:h-48 md:w-48 md:rounded-none md:rounded-l-sm" src="https://flowbite.com/docs/images/blog/image-4.jpg" alt=""> -->
          <div class="author dark:text-white" style="display: flex; align-items: center; text-align: left; padding: .5rem 0 .5rem .5rem;">
            <img src="<%= timelineArticle.user.image %>" alt="" style="width: 50px; height: 50px; border-radius: 50%; margin-right: .5rem;">
            <div class="time-name" style="display: flex; flex-direction: column;">
              <span style="font-size: .8rem;"><%= timelineArticle.user.displayName %> </span>
              <span style="font-size: .6rem;"><%= timelineArticle.createdAt.toLocaleDateString() %></span>
            </div>
          </div>
          <div class="flex flex-col justify-between p-2 leading-normal">
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= timelineArticle.title %></h5>
            <p class="mb-0 font-normal text-gray-700 dark:text-gray-400"><%= timelineArticle.desc %>.</p>
          </div>
          <div class="post-details">
            <ul class="dark:text-white" style="display: flex; width: 80%; justify-content: space-between; margin: .5rem auto;">
                <li>
                  <% if (user) { %>
                    
                    <span><i class="<%- (timelineArticle.likes.includes(user.id)) ? 'fas' : 'far' %> fa-thumbs-up"></i> <%= timelineArticle.likes.length %></span>
                  <%} else { %>
                    <span><i class="far fa-thumbs-up"></i> <%= timelineArticle.likes.length %></span>
                  <% } %>
                </li>
                <li>
                  <i class="far fa-comment-alt"></i> 25
                </li>
                <li>
                  <i class="fas fa-share-square"></i> Share
                </li>
            </ul>
          </div>
        </a>
      <% })%>
      <%} else { %>
      <p> Choose content creators to follow </p>
      
      <% } %>
</div>



<!-- Footer Navigation -->
   
  <nav style="position: fixed; bottom: 0; width: 100%; margin: 0 auto;" class="footer-nav bg-white border-gray-200 py-2.5 dark:bg-gray-900">
    <div class="" >
      <ul class="" style="display: flex; justify-content: space-between; width: 90%; margin: 0 auto;">
        <li>
          <a href="/articles" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:p-0 dark:text-white" aria-current="page" style="background-color: #194D8C;"><i class="fas fa-book-open"></i></a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"><i class="fas fa-desktop"></i></a>
        </li>
        <li>
          <a href="#" style="font-size: 1.3rem;" class="block py-1 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"><i class="fab fa-searchengin"></i></a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"><i class="fas fa-microphone-alt"></i></a>
        </li>
        <li>
          <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"><i class="fas fa-users"></i></a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
   
  
    
<script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<script src="/js/pwa.js"></script>
<script src="/js/status.js"></script>
</body>
</html>